<div flex-xs flex-gt-xs="50" layout="column">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ctx.data.escola.nome}}</span>
                <span class="md-subhead">{{ctx.data.escola.endereco.rua}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-md card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Alunos</md-button>
            <md-button>Professores</md-button>
        </md-card-actions>
    </md-card>
</div>