<div class="detalhe-escola" flex-xs flex-gt-xs="50" layout="column">
    <md-card md-theme="default" md-theme-watch>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="back-button md-avatar-icon" md-svg-icon="img/icons/back-button.svg" ui-sref="base.escolas"></md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-subhead">Voltar</span>
            </md-card-header-text>
        </md-card-header>
        <img ng-src="{{ctx.constants.image}}" class="md-card-image" alt="{{ctx.data.escola.nome}}" />
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ctx.data.escola.nome}}</span>
                <span class="md-subhead">{{ctx.data.escola.endereco.rua}}, {{ctx.data.escola.endereco.cidade}} - {{ctx.data.escola.endereco.estado.nome}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="base.escolas.detalhe.alunos">Alunos</md-button>
            <md-button>Professores</md-button>
        </md-card-actions>
    </md-card>
</div>