<md-list flex ng-cloak ng-init="ctx.loading.load()">
    <md-subheader class="md-no-sticky">Alunos</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="aluno in ctx.data.alunos" ng-click="goToPerson(person.name, $event)" class="noright">
        <img alt="{{ aluno.usuario.nome }}" ng-src="{{ ctx.constants.image }}" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ aluno.usuario.nome }}</h3>
            <h4>{{ aluno.usuario.email }}</h4>
        </div>
        <md-button ng-click="ctx.actions.sendEmail(aluno, $event)" class="md-icon-button" aria-label="Enviar email para {{aluno.usuario.email}}">
            <ng-md-icon icon="email" style="fill: gray;"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Editar {{aluno.usuario.nome}}">
            <ng-md-icon icon="edit" style="fill: gray;"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Excluir {{aluno.usuario.nome}}">
            <ng-md-icon icon="delete" style="fill: gray;"></ng-md-icon>
        </md-button>
    </md-list-item>
</md-list>